.console {
  padding: 20px;
}
.param-block {
  padding: 10px 0;
}
.submit-block {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.resolution-input {
  width: 80px;
}

.select {
  width: 130px;
}
