.console {
  padding: 0 0px;
  // width: fit-content;
  width: 1680px;
  display: flex;
  flex-direction: row;
  border: solid #eee 2px;
  // justify-content: center;
  align-items: center;
}

.param-block {
  // border: solid #eee 2px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.submit-block {
  padding: 0px 0;
  width: 200px;
  // height: 80px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0px 5px !important;
}

.resolution-input {
  width: 80px;
}

.select {
  width: 150px;
}
.select2 {
  width: 120px;
}

.apply {
  width: 100%;
  height: 50px;
}
