.main {
  padding: 10px 5px;
}

.h-concat {
  display: flex;
}
.v-concat {
  display: flex;
  flex-direction: column;
}
// .canvas {
//   width: min-content;
//   border: solid 1px;
//   box-shadow: 5px 5px 5px 2px #888888;
//   position: relative;
// }
.top-views {
  padding: 10px 0;
}
.middle-views {
  padding: 0px 0px;
}
.bottom-views {
  padding: 10px 0px;
}
.title-view {
  padding: 0px 20px 0px 20px;
}
.data-panel {
  padding: 0px 0px 0px 20px;
}
.main-view {
  padding: 20px;
}
.query-tools-panel {
  display: flex;
  padding: 20px 20px 10px 40px;
}

.editor{
  padding: 5px 20px 0px 40px;
}
.spin-view{
  position: absolute;
}
.control-panel{
  padding: 20px;
}
.score-view{
  padding: 10px 20px;
}
// .layer {
//   position: absolute;
//   left: 0;
//   top: 0;
// }
// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
