@font-face {
  font-family: "iconfont"; /* Project id 3909901 */
  src: url('iconfont.woff2?t=1677051805988') format('woff2'),
       url('iconfont.woff?t=1677051805988') format('woff'),
       url('iconfont.ttf?t=1677051805988') format('truetype'),
       url('iconfont.svg?t=1677051805988#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ketuozhuai:before {
  content: "\e617";
}

.icon-tuozhuaicaidandaohang:before {
  content: "\e79e";
}

.icon-005yanjing-1:before {
  content: "\e80a";
}

.icon-005yanjing-4:before {
  content: "\e80c";
}

